@model IEnumerable<Tarefas.Web.Models.TarefaViewModel>

<table class="table">
    <thead class="thead-dark">
        <th>
            @Html.DisplayNameFor(model =>model.Id)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
        <tr scope="col">
        <td>
            @item.Id
        </td>
        <td>
            @item.Titulo
        </td>
        <td>
            @item.Descricao
        </td>
    </tr>
    </tbody>
    }
</table>